body {
	min-width: 960px;
	background: #f0f0f0 url("../img/background.png") no-repeat center top;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
}

.container {
	width: 900px;
	margin: 0 auto;
}

.right-column {
	width: 620px;
	float: right;
	padding-top: 80px;
}
	

.left-column {
	width: 250;
	float: left;
	background: #8ea73f;
	color: #fff;
	margin-top: 70px;
}

.left-column h2 {
	font-size: 110%
}


.right-column div {
	background: #fff;
	color: #424242;
	margin-bottom:30px;
	padding-bottom: 25px;
}

.right-column h2 {
	padding-top: 25px;
}



.right-column div, .left-column {
	box-shadow: 5px 5px 12px rgba(0,0,0,0.2)
}

.photo img{
	width: 250px;
	height: 250px;
}

.social img {
	width: 30px;
	height: 30px;
}

h1, h2, h3 {
	text-transform: uppercase;
}

h2, h1, h3, p {
	padding-left: 30px;
}



table {
	width:190px;
	height: 3px;
	background-color: #fff;
	border-collapse: collapse;
}

.russian, .learner {
	width:15px;	
}

.analyticity {
	width: 25px;
}

.english {
	width: 55px;
}

.discipline{
	width: 30px;
}

.left-content td:last-child {
	background-color: #758d2d;
}

ul {
	margin: 7px 0px 40px 30px;
	padding: 0;
}

li {
	
    list-style-type: none; 
}

.social {
	margin: -20px 0px 30px 70px;
}

.social-btn img:hover {
	background: #758d2d;
}

.right-column table {
	width: 350px;
	margin-left: 30px;
}

.right-column td:first-child {
	width: 120px;
	font-weight: bold;

}

.right-column td:last-child, .right-column p {
	color: #9f9d9d;
}

.right-column tr {
height: 50px;
}